/* item 2 for Recommended*/
.item-2 .item-recommendation-content {
    color: var(--clr-primary-400); /* Use the CSS variable here */
    margin-left: -15px; /* Indentation for bullets */
    margin-bottom: -10px; /* Reduced space between items */
}
/* item 2 for Recommended texts*/
.item-2 .item-recommendation-content h3 {
    font-size: 24px;
    font-weight: bold;
    position: relative;
    top: -90px; /* Moves the h3 10px up */
    color: var(
        --clr-primary-400
    ); /* Optional: You can set the color here too */
    margin-right: -20px;
}
/* item 2 for Recommended texts*/
.item-2 .item-recommendation-content ul li {
    color: black;
    position: relative;
    top: -200px; /* Moves the h3 10px up */
}
.item-2 .item-recommendation-content ul {
    padding-left: 60px; /* Indentation for list items */
    margin-top: 0; /* Reset any extra margin at the top */
    margin-bottom: 0; /* No extra space below the list */
    list-style-type: disc;
    color: #2f2c2c;
    font-weight: bold;
    line-height: 1.4; /* More compact line height for list */
}
/* Style for individual list items */
.item-2 .item-recommendation-content li {
    margin-bottom: -42px; /* Reduced space between items */
    font-size: 14px;
    line-height: 1.4; /* Adjust the line height */
    font-weight: normal;
}
/*ITEM DETAILS 2 BELOW/*
/*ITEM DETAILS 2 BELOW/*
/*ITEM DETAILS 2 BELOW/*
/* Adjust to move both details and description for item 2 */
/* Wrapper for product details for item 2 */
#item-2 .product-details {
    font-family: "Arial", sans-serif;
    color: #333;
    margin-right: 380px;
    max-width: 340px;
}
#item-2 .product-details h3 {
    color: var(--clr-primary-400); /* Use the custom property here */
    font-weight: bold;
    margin-bottom: 20px; /* Add space below the heading */
    font-size: 25px;
    margin-right: 10px;
    margin-top: 12.5px;
}
/* Detail item texts for item 2 */
#item-2 .detail-item {
    font-size: 1.3rem;
    margin: 5px 0;
}
/* Controls top part of value pairs for product details for item 2 */
#item-2 .detail-item strong {
    font-weight: bold;
    margin-right: 10px;
}
/*ITEM industires 2 BELOW/*
/*ITEM industires 2 BELOW/*
/*ITEM industires 2 BELOW/*
/* Style for the industries section */
#item-2 .industries-section {
    font-size: 14px;
    margin-top: -90px;
    margin-right: 850px;
}
#item-2 .industries-section strong {
    font-size: 22px;
    font-weight: bold;
    display: block;
    margin-bottom: -40px;
    color: var(--clr-primary-400); /* Use the custom property here */
    margin-left: 5px; /* Indentation for bullets */
    margin-top: -200px; /* Indentation for bullets */
}
#item-2 .industries-section ul {
    list-style-type: disc; /* Bullet points */
    margin-left: 0px; /* Indentation for bullets */
    color: #2f2c2c;
    font-weight: bold;
    margin-left: -10px; /* Indentation for bullets */
}
